---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection, render } from "astro:content";
import OffsetCircleGrid from "../../components/OffsetCircleGrid.astro";
import Flavor from "../../components/Flavor.astro";
import NewsGrid from "../../components/NewsGrid.astro";
import Link from "../../components/Link.astro";
import { Icon } from "astro-icon/components";
import { getLocalizedStaticPaths } from "../../i18n/utils";

export const getStaticPaths = async () => {
	const flavorsSections = await getCollection("sections", ({ id }) =>
		id.includes("/index/sections/flavors"),
	);

	const newsSections = await getCollection("sections", ({ id }) =>
		id.includes("/index/sections/news"),
	);

	const pages = await getCollection("pages", ({ id }) =>
		id.endsWith("index"),
	);

	return getLocalizedStaticPaths({
		page: pages,
		flavorsSection: flavorsSections,
		newsSection: newsSections,
	});
};

const newFlavors = await getCollection("flavors", ({ data }) => data.new);

const news = (
	await getCollection("news", ({ data }) => data.pubDate <= new Date())
)
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 3);

const { page, flavorsSection, newsSection } = Astro.props;

const { Content } = await render(page!);

const { Content: FlavorsContent } = await render(flavorsSection!);
const { Content: NewsContent } = await render(newsSection!);
---

<style>
	section {
		p {
			margin-bottom: var(--space-lg);
		}

		> a {
			margin-top: var(--space-lg);
		}
	}
</style>

<BaseLayout pageTitle={page?.data.title!}>
	<Content />
	{
		newFlavors.length && (
			<section slot="sections">
				<h2>{flavorsSection?.data.heading}</h2>
				<FlavorsContent />

				<OffsetCircleGrid>
					{newFlavors.map(({ data }) => (
						<Flavor flavor={data} />
					))}
				</OffsetCircleGrid>

				<Link href="/assortment" class="button">
					{flavorsSection?.data.action}{" "}
					<Icon name="tabler:chevron-right" />
				</Link>
			</section>
		)
	}
	<section slot="sections">
		<h2>{newsSection?.data.heading}</h2>

		<NewsContent />

		<NewsGrid news={news} />

		<Link class="button" href="/news"
			>{newsSection?.data.action}
			<Icon name="tabler:chevron-right" /></Link
		>
	</section>
</BaseLayout>
