---
import { defaultLocale, languageIcons, languages } from "../../i18n/ui";
import { getLangFromUrl, getPathWithoutLang } from "../../i18n/utils";

const locale = getLangFromUrl(Astro.url);

const currentPath = getPathWithoutLang(Astro.url);
const path = currentPath === "" ? "" : `/${currentPath}`;
---

<style>
    select {
        background-color: transparent;
        color: var(--on-surface);
        border: none;
        font-size: 1.3rem;

        @media (width < 500px) {
            font-size: 1rem;
        }
    }
</style>

<div
    x-data={`{
        redirect(value) {
            window.location.href = "${import.meta.env.BASE_URL}" + (value === '${defaultLocale}' ? "${path}" : "/" + value + "${path}");
        }
    }`}
>
    <select @change="redirect($event.target.value)">
        {
            Object.entries(languages).map(([lang, label]) => (
                <option value={lang} selected={lang === locale}>
                    {label} {languageIcons[lang as keyof typeof languages]}
                </option>
            ))
        }
    </select>
</div>
